.header{
  background-image: linear-gradient(to right bottom, rgb(136, 210, 155),
          rgba(155, 39, 115, 0)), url("../img/hero.jpg");
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
  display: block;
}

.header-logo{
  position: absolute;
  top: 40px;
  left: 40px;
  height: 35px;
}

.header-textbox{
  position: absolute;
  font-weight: 400;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-transform: uppercase;
  backface-visibility: hidden;
}

.header-textbox-first{
  display: block;
  font-size: 60px;
  letter-spacing: 35px;

  animation-name: move-to-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.header-textbox-second{
  display: block;
  font-size: 25px;
  letter-spacing: 15px;

  animation-name: move-to-right;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes move-to-left {

  0%{
    opacity: 0;
    transform: translateX(-100px);
  }

  50%{
    opacity: 0.5;
    transform: translateX(50px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }

}

@keyframes move-to-right {

  0%{
    opacity: 0;
    transform: translateX(100px);
  }

  50%{
    opacity: 0.5;
    transform: translateX(-50px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }

}

.header-button, .header-button:link, .header-button:visited{
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  font-weight: 400;
  padding: 15px 20px;
  letter-spacing: 2px;
  border-radius: 200px;
  top: 70%;
  transition: all .2s;
}

.header-button:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.header-button:active{
  transform: translateY(-1px);
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.btn-white{

}