
@mixin clearfix(){
  content: "";
  display: table;
  clear: both;
}

.row{
  max-width: inherit;
  border: 1px solid red;
  align-content: center;
  text-align: center;
  padding: 0px 2px;
  margin: 0 auto;
}

.col-01{
  float: left;
  text-align: left;
  width: calc((100% - 100px)/2);
}



.about-title{
  display: block;
  background-image: linear-gradient(to right, rgb(93, 201, 119),
          rgb(93, 168, 107));
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  transition: all .2s ease-in-out;

  &:hover{
    text-shadow: 1px 1px 2px rgb(136, 179, 146);
    transform: skewY(-2deg) skewX(-7deg);
  }
}